<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExtractAssociatedIcon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ExtractAssociatedIcon.Properties.Settings>
            <setting name="ShowBorderCheckBox_IsChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreviouslySelectedListItemName" serializeAs="String">
                <value>Jumbo 256x256</value>
            </setting>
            <setting name="PreviousSelectedOpenFilter" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PreviousOpenFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="PreviousSaveFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="PreviousSelectedSaveFilter" serializeAs="String">
                <value>0</value>
            </setting>
        </ExtractAssociatedIcon.Properties.Settings>
    </userSettings>
</configuration>